.time_table{
    text-align: center;
}

.title{
    text-align:center;
    font-size: 2em;
}

.hourly{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

body{
    
    margin: 0px;
    padding : 0px;
}

.topnav{
    background-color : #d1b06d;
}

.ecole{
    background-image: url("menu_pict/jolie-petite-fille-qui-ajuste-sa-montre_23-2148349788.jpg");
}

footer{
    background-color: #d1b06d;
}