<!DOCTYPE html>
<html>
<head>
	<title>Contact my teacher</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/static/header.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/email_front.css">
	<link rel="stylesheet" type="text/css" href="/static/header_footer.css">

</head>

<header>
    <nav>
        <label class="logo">Francois Lexis</label>
        <ul>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Event</a></li>
            <li><a href="#">Grade</a></li>
            <li><a href="#">Email</a></li>
            <li><a href="#">Timetable</a></li>
        </ul>
        <label id="icon">
            Menu
        </label>
    </nav>
</header>



<body>
	<div class="ecole">  </div>

    <form>
        <div>Your discussion here</div>

        <div class="discussion"> </div>

        <label class="titre" for="fname">Your text : </label><br>
        <input type="text" id="fname" name="fname" class="fname" placeholder="Your message" spellcheck="true" maxlength="250"><br>
        <input type="button" id="vehicle3" name="vehicle3" value="Send" class="button">

    </form>

</body>

<footer>
	<div class="foot">Nom_de_leleve</div>
	<div class="foot">®François Lexis</div>
	<div><a href = "#"><img class="deco" src="/static/header_pict/oui.png"></a></div>
</footer>