<!DOCTYPE html>
<html>
<head>
	<title>Event in the school</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/static/header.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/event_front.css">
	<link rel="stylesheet" type="text/css" href="/static/header_footer.css">

</head>

<header>
	<nav>
        <label class="logo"><a href="/menu">Francois Lexis</a></label>
        <ul>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/event">Event</a></li>
            <li><a href="/grades/<%=User[0]%>/">Grade</a></li>
            <li><a href="/email">Email</a></li>
            <li><a href="/timetable">Timetable</a></li>
        </ul>
        <label id="icon">
            Menu
        </label>
    </nav>
</header>


<body>
	<div class="ecole">  </div>


	<div class="title">Event of the school</div>
	<div class="explain">Our school is always really proud of our student and what they do, the event in which they participate, the awards they win and much more... 
	This is why we are really happy to share it with you. Enjoy the reading !!
	</div>


	<div class="dis">
		<img class="pic" src="/static/event_pict/DSC_7881.jpg">
		<img class="pic" src="/static/event_pict/ecole.jpg">
		<img class="pic" src="/static/event_pict/ensemble.jpg">
		<img class="pic" src="/static/event_pict/feteforaine.jpg">
	</div>



	<div class="flex flex1">
		<div class="pict1 pict"> </div>
		<div class="text text1"> <h1>Antoine Mourel, our bike star</h1>Last week end, one of our student Antoine Mourel from CM1 went to the national bike championship where 
			he was happy to be named at the first place just before Loic Marriet his concurrente since always. After the championship, our star went to meet for his idol Louis Pouli. Our dear director and a part of his teacher
			went to see him play and encourage the player.
		</div>
	</div>

	<div class="flex flex2">
		<div class="text text2"><h1>A new building in our campus</h1>
			We are proud to annunce you that the works in the campus are finally done. The pupils will be happy to visit and study in this new building with new room. The goal here 
		was to give to our pupils a good place to study with windows, with room to play during the recreation and computer so they can make rechearsh on subjet they are interested in. Of course
		just behind the building, there is a large ground where they can play, run, enjoy and relax.
		</div>
		<div class="pict2 pict"> </div>
	</div>

	<div class="flex flex3">
		<div class="pict3 pict"> </div>
		<div class="text text1"><h1>Solidarity at school</h1>
			During the month of January, all the students of the CM1 class will organize the month of solidarity. We will receive in our school a group of illiterate children and our students will 
			organize small workshops to familiarize them with writing, reading and drawing. Our dear students are at the origin of this initiative and it is with great pride that we welcome these children. 
			At the end of the month, a small exhibition will be held in the school's reception area to show the children's progress and value their work. Please note the address: January 31st between 8am and 4pm.
		</div>
	</div>

	<div class="flex flex4">
		<div class="text text2"><h1>Christmas with our students</h1>
			After this wave of coronavirus that prevented our children from organizing parties or participating in school events, the youngsters were very happy to participate in the school's Christmas party. 
			98% of the children attended the party where they played booths, ate cotton candy, participated in sumo wrestling, dealt drugs, stole each other's candy and cheated at all their games. It was a great 
			day of fun. We just lost Dylan around the corner.
		</div>
		<div class="pict4 pict"> </div>
	</div>



</body>


<footer>
	<div class="foot"><%= User[1]%> <%= User[2]%> </div>
	<div class="foot">®François Lexis</div>
	<div><a href = "/logout"><img class="deco" src="/static/header_pict/oui.png"></a></div>
</footer>