<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="/static/menu_front.css">

</head>

<body>

	<div>
		<a href ="/timetable"><div class="photo1"><div class="name">Time Table</div></div></a>
        <a href = "/grades/<%=User[0]%>/ "><div class="photo2"><div class="name">Grade</div></div></a>
	</div>
	<div>
		
		<a href ="/Event"><div class="photo3"><div class="name">Event</div></div></a>
		<a href ="/email"><div class="photo4"><div class="name">Contact my teacher</div></div></a>

	</div>

</body>



</html>