<!DOCTYPE html>
<html>
<head>
	<title>Contact my teacher</title>
	<link rel="stylesheet" type="text/css" href="/static/header.css">
	<link rel="stylesheet" type="text/css" href="/static/timetable_front.css">

</head>
<header>
	<div class="eleve">Nom de l'élève</div>
	<div class="middle"><img class ="logo" src="header_pict/pngegg.png"/>
		<a href = "menu.html"><div class = "text_header">François Lexis</div></a></div>
	<div><a href = "menu.html"><img class="deco" src="header_pict/oui.png"></a></div>		
</header>
<body>
<br>
	<br>
	<div class= "title">Time table of the week</div>
	<br>
	<div class = "time_table"><img  src="timetable_pict/classe1.png"></div>

	<br>
	<div class = "hourly">
		<div>Class of teacher name_of_teacher</div>
		<div>History : 5 hours</div>
		<div>Mathematiques : 4 hours</div>
		<div>French : 4 hours</div>
		<div>School activities : 6 hours</div>
		<div>Sport : 4 hours</div>
		<div>Culture : 4 hours</div>
		<div>Total : 27 hours</div>
	</div>

<br>
</body>

<footer>
	<div class="down_logo">®François Lexis</div>
	
</footer>