<!DOCTYPE html>
<html>
<head>
	<title>François Lexis</title>
	<link rel="stylesheet" type="text/css" href="/static/welcome_front.css">

</head>

<body>
    <div class="box">
		<div class="gauche">
			<div class="titre"><img src = "/static/header_pict/pngegg.png" class="logo">François Lexis</div>
			<br><br><div class="text"> Primary school<br>56 tuzolto utca 1064 Budapest </div>
		</div>
		<div class="droite">
			<div class="info">Your school's WebSite where you can see you grades, your timetable, contact your teacher and be aware of the event of your school</div>
			<br><br><br><div class="co">Click here to go to your connexion page</div>
			<a href="./connexion"><div class="button">Go connect</div></href>
		</div>


	</div>


</body>