 nav{
    background-color: #827789;
  }
  
  .ecole{
    background-image: url("menu_pict/cours-particuliers-birmingham-prof-eleve.jpg");
  }
  
  footer{
    background-color: #827789;
  }

form{
  text-align: center;
  margin-top: 60px;
}

.fname{
  width : 80%;
  height: 50px;
}

.discussion{
  min-height: 100px;
  border : 1px solid #827789;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}

.button{
  margin-top: 20px;
  margin-bottom: 20px;
  width : 100px;
  background-color: #827789;
}