header,
footer {
  padding: 20px 40px; /*Marge verticale*/
  background-color: #beedaa; /*Couleur de fond*/
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-color: black;
  border: 5px;
  z-index: 1;
}

footer {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text_header {
  font-size: 2em;
  color: black;
}

a {
  text-decoration: none;
}

.middle {
  display: flex;
}

.eleve {
  font-size: 2em;
}

.deco {
  font-size: 2em;
}

.logo {
  width: 50px;
}

.down_logo {
  text-align: center;
}

.deco {
  width: 33px;
}

@media only screen and (max-width: 173px) {
  .logo {
    height: 78px;
    width: 50px;
  }

  .deco {
    padding-top: 27px;
  }
}
