.photo1,
.photo2,
.photo3,
.photo4 {
  width: 50%;
  background-size: cover;
  min-height: 20em;
}

.photo1 {
  float: left;
  background-image: url("menu_pict/jolie-petite-fille-qui-ajuste-sa-montre_23-2148349788.jpg");
}

.photo3 {
  float: left;
  background-image: url("menu_pict/GS-CP.jpg");
}

.photo2 {
  float: right;
  background-image: url("menu_pict/enfants-heureux-ecole-panorama.jpg");
}

.photo4 {
  float: right;
  background-image: url("menu_pict/cours-particuliers-birmingham-prof-eleve.jpg");
}

.name {
  text-align: center;
  margin-top: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  color: white;
}
.photo1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("menu_pict/jolie-petite-fille-qui-ajuste-sa-montre_23-2148349788.jpg");
  background-size: cover;
}

.photo2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("menu_pict/enfants-heureux-ecole-panorama.jpg");
  background-size: cover;
}

.photo3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("menu_pict/GS-CP.jpg");
  background-size: cover;
}

.photo4:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("menu_pict/cours-particuliers-birmingham-prof-eleve.jpg");
  background-size: cover;
}

body {
  margin: 0px;
  background-color: lightgray;
}

footer {
  background-color: lightgray;
}

@media only screen and (max-width: 700px) {
  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    width: 100%;
    float: center;
  }
}
